body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 767.98px) {
    .nav-list, .addr-list {
        display: none;
    }
}

.menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.menu-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
   
   .nav-page {
        display: flex;
        align-items: center;
    }
    .menu-btn {
        display: none;
    }
    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
}

.header-addr {
    font-style: normal;
    display: inline-block;
}

.addr-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px;
    padding-left: 0;
                }
.addr-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 120px;
}

.logo-style {
    color: #2e2f42;
}

@media screen and (min-width: 1168px)  {
    .logo {
        margin-right: 76px;
    }
    .addr-list {
        flex-direction: row;
        gap: 40px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        }
.addr-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

/* mobyle-model-btn */

.mobile-menu  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #2e2f42;
}

.mobile-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    background-color: transparent;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    stroke-width: 1px;
    fill: #2e2f42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.nav-mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.purple {
    color: #404bbf;
}

.addr-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.addr-link-menu {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.mobile-menu-icons-container {
 

}

.mobile-menu-icons {
display: flex;
width: 100%;
justify-content: center;
gap: 48px;
margin: auto;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
    fill: #f4f4fd;
}

/* #region hero */

.hero {
    padding: 72px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        image-set(url("../images/background/bgr_desktop.jpg") 1x,
                url("../images/background/bgr-desktop@2x.jpg") 2x);
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: cover;
    height: 100%;
    margin-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        height: 436px;
    }
}

@media screen and (min-width: 1168px) {
    .hero {
        padding: 188px 0;
        height: 100%;
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

.hero-btn {
    display: block;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* #endregion hero */

/* #region section */

.scnd-icon-container {
    display: none;
}

.second-section-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0;
    margin-bottom: 96px;
}

@media screen and (min-width: 768px) {

    .second-section-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .second-section-list-item {
        width: calc((100% - 48px) / 2);
    }
}

@media screen and (min-width: 1168px) {

    .second-section-list {
        flex-wrap: nowrap;
        gap: 24px;
        padding-left: 0;
        margin: 0;
        width: 1128px;
        height: 224px;
        }
    
    .scnd-icon-container {
        display: block;
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        justify-content: center;
        margin-bottom: 8px;
        align-items: center;
    }
}

.third-title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 1168px) {
    .third-title-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    }

    .section-text {
        font-weight: 400;
    }
}

/* #endregion section */

/* #region ourteam */


.ourteam {
    width: 100%;
    max-height: 2232px;
    background-color: #f4f4fd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
}

.ourteam-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
.ourteam {
    height: 1224px;
}
.ourteam-list {
    flex-direction: row;
    flex-wrap: wrap;
}
}

@media screen and (min-width: 1168px) {

    .ourteam {
        margin-bottom: 120px;
        }

    .ourteam-list {
        flex-wrap: nowrap;
    }
}

    .ot-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        padding-top: 96px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
}

.team-card-content {
    text-align: center;
    padding: 32px 0;
    width: 232px;
    margin: 0 auto;
}

.third-title-ourteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.picture-text-ourteam {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
}

.icon-list {
    display: flex;
    width: 232px;
    gap: 24px;
}



