body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #region header */

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
 
}

@media screen and (max-width: 767.98px) {
    .nav-list, .addr-list {
        display: none;
    }
}

.menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.menu-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
   .header-container {
    padding-top: 0;
    padding-bottom: 0;
   }
   .nav-page {
        display: flex;
        align-items: center;
    }
    .menu-btn {
        display: none;
    }
    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}

.current {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
}

.header-addr {
    font-style: normal;
    display: inline-block;
}

.addr-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0;
                }
.addr-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 120px;
}

.logo-style {
    color: #2e2f42;
}

@media screen and (min-width: 1158px)  {
    .logo {
        margin-right: 76px;
    }
    .addr-list {
        flex-direction: row;
        gap: 40px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        }
.addr-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}
/* #endregion header */

/* #region mobyle-model-btn */

.mobile-menu  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #2e2f42;
}

.mobile-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    background-color: transparent;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    stroke-width: 1px;
    fill: #2e2f42;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.nav-mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.purple {
    color: #404bbf;
}

.addr-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.addr-link-menu {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.mobile-menu-icons-container {
 

}

.mobile-menu-icons {

display: flex;
align-items: flex-end;
width: 100%;
gap: 40px;

}

.icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
    fill: #f4f4fd;
}
/* #endregion mobyle-model-btn */

/* #region hero */

.hero {
    padding: 72px 0;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
       url(../images/background/bgr-mobile.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), 
            url('../images/background/bgr-mobile@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/background/bgr-tablet.jpg);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        height: 1440px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/background/bgr-tabtet@2x.jpg');
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        margin: 0 auto;
        max-width: 1140px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/background/bgr_desktop.jpg);
}
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)),
        url('../images/background/bgr-desktop@2x.jpg');
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 216px;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

.hero-btn {
    display: block;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* #endregion hero */

/* #region section */

.scnd-icon-container {

    display: none;
}

.second-section-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 96px 0;
    
}

@media screen and (min-width: 768px) {

    .second-section-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .second-section-list-item {
        width: calc((100% - 48px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .second-section-list {
        flex-wrap: nowrap;
        gap: 24px;
        padding-left: 0;
        margin: 0;
        width: 1128px;
        height: 224px;
        margin-bottom: 120px;
        }
    
    .scnd-icon-container {
        display: block;
        display: flex;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        background: #f4f4fd;
        justify-content: center;
        margin-bottom: 8px;
        align-items: center;
    }
}

.third-title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .third-title-section {
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .third-title-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  
    }

    .section-text {
        font-weight: 400;
    }
}

/* #endregion section */

/* #region ourteam */


.ourteam {
    display: flex;
    width: 100%;
    max-height: 2232px;
    background-color: #f4f4fd;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.ourteam-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
.ourteam {
    height: 1224px;
}
.ourteam-list {
    flex-direction: row;
    flex-wrap: wrap;
}
}

@media screen and (min-width: 1158px) {

    .ourteam {
   max-height: 788px;
        }

    .ourteam-list {
        flex-wrap: nowrap;
    }
}

    .ot-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
}

.team-card-content {
    text-align: center;
    padding: 32px 0;
    width: 232px;
    margin: 0 auto;
}

.third-title-ourteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.picture-text-ourteam {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
}

.icon-list {
    display: flex;
    width: 232px;
    gap: 24px;
}

/* #endregion ourteam */

/* #region portfolio */

.prtf-animation {
    visibility: hidden;
}

.portfolio {
    padding-top: 96px;
    margin-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .portfolio {
       
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
    padding: 0;
    }
}

.ot-pf-title {
    text-align: center;
    align-items: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.prtf-list {
    gap: 48px;
}

.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  
}
 .prtf-image {
    width: 288px;
    height: 280px;
 }

.list-item-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.third-title {
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .prtf-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    margin: 0;
    padding: 0;
 
    }
    .portfolio-item {
        flex: 0 0 calc(50% - 12px);
        width: 356px;
    }

    .ptrf-picture {
        
    }
}

@media screen and (min-width: 1158px) {
    .prtf-list {
        gap: 48px 24px;
    }

    .ptrf-picture {
        width: 360px;
        height: 300px;
    }
    
    .portfolio-item {
        flex: 0 0 calc(33.33% - 16px);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
        width: 360px;
        }
        
        .portfolio-item:hover,
        .portfolio-item:focus {
            transform: translateY(0);
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
        }

                .prtf-image {
                    position: relative;
                    overflow: hidden;
                }
        
                .prtf-animation {
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    padding: 40px 32px;
                    margin: 0;
                    color: #F4F4FD;
                    background-color: #4D5AE5;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    transform: translateY(100%);
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .prtf-animation:hover {
                    transform: translateY(0%);
                }
        
                .portfolio-item:hover .prtf-animation {
                    transform: translateY(0);
                }
        
                .list-item-div {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;
                }
        
                .third-title {
                    margin-bottom: 8px
                }
}

/* #endregion portfolio */

/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;


}

@media screen and (min-width: 768px) {
    .footer {
        padding: 96px;
        padding-left: 108px;
        padding-right: 108px;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 156px;
    }
}

.footer-div {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
 
}

@media screen and (min-width: 768px) {
.footer-div {
   display: block;
    }
}

@media screen and (min-width: 1158px) {
.footer-div {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
       

    }
}

.logo-foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.logo-style-footer {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    margin-top: 16px;
    width: 264px;
}

@media screen and (min-width: 768px) {
    
    .logo-foot-container {
        display: inline-block;
        width: 264px;
        height: 112px;
        margin: 0 24px 72px 0;

    }

    .logo-foot {
        margin-bottom: 0;
    }
}


@media screen and (min-width: 1158px) {
    .logo-foot-container {
        margin: 0;
        padding: 0;
        width: 264px;

    }
}

.media-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 208px;
    margin-bottom: 72px;
    gap: 16px;
}

.text-icon {
    margin: 0;
    font-weight: 500;
    color: #FFFFFF;
}

.futer-icons {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    padding: 0;
    margin: 0;
    height: 40px;
}

.futer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .media-footer {
        display: inline-block;
        vertical-align: top;
        height: 80px;
        margin: 0;
    }

    .futer-icons {
        margin-top: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .media-footer {
        padding: 0;
        margin-left: 120px;
    }
}


.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.futer-input {

    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background: #2e2f42;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .subscribe {

       align-items: flex-start;
        width: 453px;
        height: 80px;
        
    }

    .subscribe-cont {
    flex-direction: row;
    margin-top: 0;
    }

    .futer-input {
        width: 264px;
    }

}

@media screen and (min-width: 1158px) {
    .subscribe {
        margin-left: 80px;
    }
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding-right: 16px;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

/* #region modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    fill: #e7e9fc;
    stroke-width: 1px;

}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: #ffffff
}

.icon-close:hover,
.icon-close:focus {
    fill: #fff;
}

.modal-text {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 24px;
    margin-bottom: 16px;
    padding-top: 0;
}

.form-client-cont {
    margin-bottom: 8px;
}

.form-client-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-client-icon-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.form-client-input {
    width: 100%;
    height: 58px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.form-client-input:focus {
    border: 1px solid #4d5ae5;
}

.form-client-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-client-input:focus+.form-client-icon {
    fill: #4d5ae5;
}

.textarea-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.client-form-wrapper {
    margin-bottom: 16px
}

.form-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    width: 100%;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    min-height: 120px;
    outline: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
    border: 1px solid #4d5ae5;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-form {
    margin-bottom: 24px;
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {}

.checkbox:checked+.form-client-checkbox .custom-checkbox {

    background-color: #404bbf;
    border: transparent;
    fill: #f4f4fd;
}

.form-client-checkbox {

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    text-align: center;
    line-height: 1.17;
}

.custom-checkbox-icon {}

.policy {
    text-decoration: underline;
    color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button {
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.send-button:hover,
.send-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* #endregion modal */






