


/* #region header */

.header-page {
    border-bottom: 1px solid #e7e9fc;
    color: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav-page {
display: flex;
align-items: center;
}

.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.logo-style {
        color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    padding: 24px 0;
}

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.current {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}


.header-addr {
    font-style: normal;
    align-items: center;
}

.addr-list {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.addr-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addr-link:hover,
.addr-link:focus {
    color: #404bbf;
}

/* #endregion header */

/* #region hero */

.hero .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.hero {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;

}

.hero-btn {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* #endregion hero */

/* #region section */

.second-section {
    padding: 120px 0;
}

.second-section-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
    width: 1128px;
    height: 224px;
}

.section-block {
    width: 264px;
    height: 224px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.scnd-icon-container {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    justify-content: center;
    margin-bottom: 8px;
    align-items: center;
}

.scnd-section-icon {
    max-width: 100%;
    height: auto;
}



.second-section-list-item {

    flex-basis: calc((100% - 72px) / 4);
}


/* #endregion section */

/* #region ourteam */

.ourteam {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-list-container {

}

.ourteam-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ot-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
}

.team-card-content {
    text-align: center;
    padding: 32px 0;
    width: 232px;
    margin: 0 auto;
}

.third-title-ourteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.staf-name {
    padding: 32px 0;
    width: 232px;
        height: 104px;
}

.picture-text-ourteam {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
}

.stuf-media {
    width: 232px;
    height: 40px;
    margin-top: 8px;
}

.icon-list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.social-media-icon {
    fill: #f4f4fd;
}

/* #endregion ourteam */

/* #region portfolio */

.portfolio {
    padding: 120px 0 120px 0;
}

.ot-pf-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.prtf-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover,
.portfolio-item:focus  {
    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prtf-image {
    position: relative;
    overflow: hidden;
}

.prtf-animation {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    margin: 0;
    color: #F4F4FD;
    background-color: #4D5AE5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-animation:hover {
    transform: translateY(0%);
}

.portfolio-item:hover .prtf-animation {
    transform: translateY(0);
}

.list-item-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.third-title {
    margin-bottom: 8px
}

/* #endregion portfolio */
/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.futer-container {
    display: flex;
    align-items: baseline;
}

.logo-foot-container {
    margin: 0;
        padding: 0;
        width: 264px;
        margin-right: 120px;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
        
}

.logo-style-footer {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
}

.text-icon {
    margin-bottom: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.media-footer {
    max-width: 208px;
    padding: 0;
    margin: 0;
}

.futer-icons {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    padding: 0;
    margin: 0;
    height: 40px;
}

.futer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #FFFFFF;
}

.futer-icon-link:hover,
.futer-icon-link:focus {
    background-color: #31D0AA;
}

.futer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
}

.subscribe {
    margin-left: auto;
}

.futer-input {

        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background: #2e2f42;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
}

.futer-input:focus {
    
}

.futer-input::placeholder {
    font-weight: 400;
    color: #fff;
}

.subscribe-cont {
    display: flex;
    gap: 24px;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding-right: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background: #31d0aa;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

/* #endregion footer */

/* #region modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    padding-top: 24px;
    margin-bottom: 16px;
}

/*.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    fill: #e7e9fc;
    stroke-width: 1px;
 
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: #ffffff
}

.icon-close:hover,
.icon-close:focus {
    fill: #fff;
}*/


.form-client-cont {
    margin-bottom: 8px;
}

.form-client-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-client-icon-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.form-client-input {
    width: 100%;
    height: 58px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.form-client-input:focus {
    border: 1px solid #4d5ae5;
}

.form-client-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-client-input:focus+ .form-client-icon {
    fill: #4d5ae5;
}

.form-phone-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-phone-icon-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.form-phone-input {

    width: 100%;
    height: 58px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-phone-input:focus {
    border: 1px solid #4d5ae5;
}

.form-phone-icon {
    position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-phone-input:focus+ .form-phone-icon {
    fill: #4d5ae5;
}

.form-email-cont {
    margin-bottom: 8px;
}

.form-email-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-email-icon-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.form-email-input {
    width: 100%;
    height: 58px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-email-input:focus {
   
    border: 1px solid #4d5ae5;
}

.form-email-icon {
    position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-email-input:focus+ .form-email-icon {
    fill: #4d5ae5;
}

.textarea-label {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.client-form-wrapper {
    margin-bottom: 16px
}

.form-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    width: 100%;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    min-height: 120px;
    outline: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
    border: 1px solid #4d5ae5;
}

.form-comment::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.checkbox-form {
    margin-bottom: 24px;
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {}

.checkbox:checked+ .form-client-checkbox .custom-checkbox {
    
        background-color: #404bbf;
        border: transparent;
        fill: #f4f4fd;
}

.form-client-checkbox {

    font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #8e8f99;
        text-align: center;
        line-height: 1.17;
}

.custom-checkbox-icon {}

.policy {
    text-decoration: underline;
    color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.send-button {
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.send-button:hover,
.send-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* #endregion modal */